{% extends "index_base.html" %}
{% load custom_tags %}

{% block title %} Аккаунт {% endblock %}

{% block main_menu %}
    <li><span><a href="/valutes" title="Главная страниц сайта">Главная страница</a></span></li>
    <li><span><a href="/blog" title="Список всех новостей">Новости</a></span></li>
    <li><span><a href="/valutes/about_company" title="Информация о компании">О компании</a></span></li>
    <li><span><a href="/valutes/faq" title="Ответы на часто задаваемые вопросы">FAQ</a></span></li>
    <li><span><a href="/valutes/about_site" title="Информация о сайте">О сайте</a></span></li>
{% endblock %}

{% block small_text %}
  <div class="middle-panel">
      <h1>Пароль успешно изменен!</h1>
      <p>Вы успешно изменили пароль.</p>
  </div>
{% endblock %}


{% block footer_indent %}
    {% for i in 30|get_range %}
        <br>
    {% endfor %}
{% endblock %}